header {
    background: linear-gradient(to right, rgb(0, 0, 165), rgb(116, 186, 252));
    color: white;
    text-align: center;
    height: 75px;
}

main {
    display: flex;
}

.results {
    width: 100%;
    border-width: 2px;
    border-color: gray;
    margin: 5px;
}

.search {
    border-color: gray;
    border-width: 5px;
    display: inline-block;
    height: 100%;
    width: 25%;
    margin: 20px;
}

.search h2 {
    font-size: 20pt;
}

.search-box {
    width: 100%;
}

.city-button {
    width: 100%;
}

#search-button {
    width: 100%;
}

#print-weather {
    margin: 20px;
}

.form {
    width: 100%;
}

#weather-img {
    background-color: rgb(0, 0, 94);
    height: 50px;
    border-radius: 10px;
}